.talk-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 70%;
}

.talk {
    border: 2px solid red;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.talk_title {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
}

.talks {
    background-image: url("/home/tenntom/workspace/lit-client/src/logo 5.JPG");
    padding: 3em;
}

.btn-low {
    max-width: 6em;
    max-height: 3em;
    text-align: center;
    padding: 1em;
    margin: .5em;
}

.btn-join {
    background-color: rgb(165, 196, 165);
}

.btn-leave {
    background-color: rgb(182, 148, 148);
}

.btn-top {
    background-color: rgb(150, 197, 150);
    border: solid 1px black;
}

.talk-form{
    background-image: url("/home/tenntom/workspace/lit-client/src/logo 5.JPG");
    padding: 3em;
    display: block;
    align-items: center;
}
.talk-form-inside{
    max-width: 900px;
    background-color: white;
    border: 1px red solid;
    padding: 3em;
}

.btn-btm {
    background-color: rgb(150, 197, 150);
    width: 12em;
    height: 3em;
    margin: .75em 1em;
}

/* .btm-btn-section{
    display: flex;
    flex-wrap: wrap;
} */