.Section__Post{
    display: flex;
    flex-wrap: wrap;
}

/* .Post_img{
    width: 20rem;
    height: 20rem;
} */
.post__info{
    margin: 5rem;
}
.form-group-cat{
    margin-left: 1rem;
}

.form-control-radio{
    display: flex;
}

.form-control-radio{
    display: flex;
}

.btn-tiny{
    max-width: 12em;
    max-height: 6em;
    background-color: rgb(182, 206, 182);
    font-size: 1em;
    padding: .25em;
}

.btn-small{
    max-width:12em;
    max-height: 6em;
    background-color: rgb(182, 206, 182);
    font-size: 3em;
}

.works {
    background-image: url("/home/tenntom/workspace/lit-client/src/logo 5.JPG");
    padding: 3em;
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work{
    border: 2px solid red;
    background-color: white;
    margin: 2em;
    padding: 2em;
}

.work__title{
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
}
.work__edit{
    text-align: center;
    margin-top: 1em;
}

.genre-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
    }

.genre-items{
    margin-left: 1em;
    margin-right: 1em;
}

.new-button{
    background-color: rgb(182, 206, 182);
}

.btn-top {
    background-color: rgb(150, 197, 150);
    border: solid 1px black;
}

.work-form {
    background-image: url("/home/tenntom/workspace/lit-client/src/logo 5.JPG");
    padding: 3em;
}

.work-form-inside{
    max-width: 1100px;
    background-color: white;
    border: 1px red solid;
    padding: 3em;
}

.page-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input--wide{
    font-size: large;
    padding-left: 1em;
    margin-left: 1em;
    padding-right: 1em;
    margin-right: 10em;
    max-height: 3em;
    margin-top: 20px;

}

.btn-work{
    padding-left: 1em;
    padding-right: 1em;
}

.go-to-talk{
    font-size: small;
    color: red;
}

.schedule-talk{
    text-align: center;
    margin-top: 1em;
}
