.Section__Post{
    display: flex;
    flex-wrap: wrap;
}

.Post_img{
    width: 20rem;
    height: 20rem;
}
.post__info{
    margin: 5rem;
}
.form-group-cat{
    margin-left: 1rem;
}

.form-control-radio{
    display: flex;
}

.form-control-radio{
    display: flex;
}

.btn-tiny{
    max-width:6em;
    max-height: 2em;
    background-color: rgb(182, 206, 182);
    font-size: 1em;
}

.work {
    border: 2px solid red;
    margin: 2em;
    padding: 2em;
}