.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
}

.form--login {
    background-size: cover;
    background-position-x: center;
    background-image: url('/home/tenntom/workspace/lit-client/src/components/auth/logo3.JPG');
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    padding: 0 5rem;
    background-color: hsla(0,0%,100%,0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.registration {
    border: 1px red solid;
    margin: 1em;
    padding: 1em;
}
.host_talk {
    border: 1px green solid;
    margin: 1em;
    padding: 1em;
}

.talk-section{
    border: 1px blue solid;
    margin: 1em;
    padding: 1em;
}

.btn-edit-talk{
    max-width:6em;
    max-height: 2em;
    background-color: rgb(182, 206, 182);
    font-size: 12px;
    font-size: larger;
    text-align: center;
    padding: .25em 2em .25em 2em;
}

.talk-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.profile {
    background-image: url("/home/tenntom/workspace/lit-client/src/logo 5.JPG");
    padding: 3em;
}

.talk-section {
    background-color: white;
    /* display: flex;
    flex-wrap: wrap; */
}

.profile-line{
    font-size: larger;
}

.profile__bio{
    margin-bottom: 2em;
}

.talk_title {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: bold;
}
